<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="pimcore_product_update_after">
        <observer name="categoriesLinker" instance="Lof\PimcoreIntegration\Listeners\CategoryLinkerListener"/>
        <observer name="relatedProductsLinker" instance="Lof\PimcoreIntegration\Listeners\RelatedProductsLinkerListener"/>
        <observer name="stockUpdater" instance="Lof\PimcoreIntegration\Listeners\StockUpdateListener"/>
        <observer name="configurableProductsLinker" instance="Lof\PimcoreIntegration\Listeners\LinkConfigurableListener"/>
    </event>
    <event name="catalog_product_attribute_set_evaluate">
        <observer name="newAttributeSetHandler" instance="Lof\PimcoreIntegration\Listeners\NewAttributeSetListener"/>
    </event>
    <event name="catalog_product_attributes_evaluate">
        <observer name="newAttributesHandler" instance="Lof\PimcoreIntegration\Listeners\NewAttributeListener"/>
    </event>
</config>
